body { 
       
           background-image: url('Images/LTT-background.webp');
           background-size: cover;
           background-position: center;
           margin: 200px;
           height: 100;
           width: 100px;
           opacity: 100%;
             }

.group2
{ 
  position: absolute;
  top: 250px;
  left: -300px;

             }

p1{ 
  position: relative;
  font-family:Arial, Helvetica, sans-serif ;
   font-size: 12px;
   top: 20px;
   right: 50px;
   font-weight: bolder;
   color: white;
   white-space: nowrap;
 
 

             }

 .group3
{ 
  position: relative;
  top: -30px;
  left: -20px;

             }

p2{ 
  font-family:Arial, Helvetica, sans-serif ;
   font-size: 12px;
   font-weight: bolder;
   color: white;
   white-space: nowrap;
   position: relative;
   left: -0px;
   top: -5px;
  

             }


      .group4
      { 
  position: relative;
  top: -100px;
  left: 300px;
  font-size: smaller;
background-color: #f0f0f0;
width: 300px;
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
height: 220px;
border-radius: 2px;
border: 2px solid;
border-color: blue;
             }



    #popup
    { 
  position: relative;
  top: 30px;
  left: 00px;
  font-size: 10px;

             }

  .group5  { 
   position: relative;
   top: -185px;
   right: 10px;
   width: 300px;
background-color:blue;
padding: 10px;
box-shadow: 100%;
-webkit-text-fill-color: #f0f0f0;
font-weight: 1000px  ;



}

#x
{ 
  position: relative;
  left: 180px;
  background-color: red;
  

             }